* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
    --color: #10375c;
    --bg-cl: #2e80ce;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: 8px 19px 8px 20px;
    min-width: 104px;
    min-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    /* 175% */
    border-radius: 22px;
    background: var(--bg-cl);
    opacity: 0.9;
}

.name__brand {
    margin-left: 6px;
}

.logo {
    display: flex;
    align-items: center;
    text-align: right;
}

.name__big {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.78;
    /* 77.778% */
}

.name__small {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 0.78;
}


.item__back {
    transform: scale(-1, 1);
}

.member__icon {
    margin-left: 30px;
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(2, 36px);
    grid-template-rows: repeat(2, 36px);
    justify-content: center;
    column-gap: 18px;
}

.icon__item {
    border-radius: 50%;
    color: #575f66;
    background: #fff;
    border: 1px solid #575f66;
}

.icon__item:hover {
    cursor: pointer;
    color: #fff;
    background: #2e80ce;
    border: 1px solid #2e80ce;
    transition: 0.25s;
}

/* header */
.header {
    padding-top: 30px;
    background: var(--color);
    min-height: 100vh;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 42px;
}

.nav__item,
.header__btn--login {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    /* 175% */
}

.nav__item:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.nav__item--active {
    position: relative;
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.nav__item--active::before {
    left: -11px;
    bottom: 11px;
    position: absolute;
    border-radius: 50%;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
}

.header__action {
    display: flex;
}

.header__btn--login {
    padding-right: 28px;
    margin-top: 8px;
}

/* hero */
.hero {
    display: flex;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 517px;
}

.hero__heading {
    margin-top: 60px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* 166.667% */
}

.hero__contact {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero__btn {
    margin-right: 38px;
    line-height: 1.67;
    font-size: 1.6rem;
    min-height: 60px;
    min-width: 205px;
    padding: 15px 46px;
    border-radius: 30px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
}

.hero__image {
    display: flex;
    align-items: center;
    margin-left: 113px;
    width: 534px;
}

.hero__img {
    width: 330px;
    border-radius: 6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    border-radius: 0px 6px 6px 0px;
    margin-left: -6px;
}

/* services */
.services {
    padding-top: 170px;
    background: #fff;
}

.services__heading {
    color: var(--color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.services__desc {
    margin: 18px auto 70px;
    width: 468px;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* 166.667% */
}

.services__row {
    display: flex;
}

.services__img {
    margin-right: 130px;
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    align-items: center;
    width: 470px;
    padding: 22px 18px 20px 21px;
    border-radius: 10px;
    background: #fff;
}

.service-item:hover {
    cursor: pointer;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item__body {
    margin-left: 19px;
}

.service__list {
    margin-top: 35px;
}

.service-item__heading {
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    width: 351px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    /* 175% */
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eff6fd;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
}

.service-item:hover .service-item__icon {
    background: var(--bg-cl);
    color: #fff;
    transition: 0.25s;
}

.services__btn {
    margin-top: 55px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
    padding: 15px 49px 15px 48px;
    border-radius: 30px;
    background: var(--bg-cl);
}

/* works */
.works {
    margin-top: 170px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f6fbff;
}

.work__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* 166.667% */
}

.work__row {
    display: flex;
    margin-top: 70px;
    column-gap: 30px;
}

.work__item {
    border-radius: 4px;
    background: #fff;
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
}

.work__item:hover {
    transform: translateY(-16px);
    border: 16px solid var(--bg-cl);
    cursor: pointer;
    transition: 0.25s;
}

.work__sub-heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.38;
    /* 138.462% */
}

.work__sub-desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    /* 175% */
}

.work__sub-desc:first-of-type {
    margin-top: 28px;
}

.work__sub-desc--more {
    margin-top: 18px;
}

.work__item:hover .work__sub-desc--more {
    font-weight: 300;
    color: var(--bg-cl);
}

/* about */

.about {
    padding: 170px 0;
}

.about__row {
    display: flex;
}

.about__image {
    display: flex;
    width: 570px;
    margin-right: 130px;
}

.about__img-big {
    width: 512px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img-small {
    margin-top: 121px;
    margin-left: -274px;
    z-index: 1;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.about__item {
    margin-top: 82px;
}

.about__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.about__desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* 166.667% */
}

.about__btn {
    margin-top: 38px;
    padding: 15px 52px 15px 51px;
    border-radius: 30px;
    min-width: 205px;
    min-height: 60px;
}

/* Member */
.member {
    padding-bottom: 170px;
}

.member__header {
    color: var(--color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.member__cta {
    margin-top: 38px;
    border-radius: 30px;
    min-width: 205px;
    min-height: 60px;
    padding: 15px 27px 15px 26px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item {
    cursor: text;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding: 28px 6px 0;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__thumb {
    transition: 0.25s;
    cursor: grab;
}

.member-item__name {
    color: #10375c;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.member-item__title {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
    /* 185.714% */
}

/*  install */
.install {
    position: relative;
}

.install__row {
    margin-top: 95px;
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    padding-bottom: 72px;
    padding-top: 76px;
}

.install__item {
    margin-left: 514px;
}

.install-row__img {
    margin-left: 70px;
    top: -95px;
    bottom: 0;
    position: absolute;
    object-fit: cover;
}

.install-item__heading {
    width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.install-item__desc {
    width: 586px;
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* 166.667% */
}

.install-item__icon {
    margin-top: 38px;
}

.install-icon__gg-play {
    margin-right: 28px;
}

/* news  */
.new {
    padding: 170px 0;
}

.new__item {
    display: flex;
}

.new__heading {
    margin-top: 68px;
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.new__blog {
    display: block;
    margin: 28px 0;
    text-underline-offset: 5px;
    text-decoration-line: underline;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    /* 155.556% */
}

.new-item__icon {
    display: grid;
    grid-template-columns: repeat(2, 36px);
    grid-template-rows: repeat(2, 36px);
    column-gap: 18px;
}

.new-item__card {
    width: 270px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    transition: 0.25s;
    border: 1px solid #e8ebee;
}

.new-item__card:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.new-item__card--first {
    margin-right: 30px;
    margin-left: 130px;
}

.new-item__thumb {
    height: 172px;
    overflow: hidden;
}

.new-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: 0.25s;
}

.new-item__card:hover .new-item__img {
    transform: scale(1.1);
}

.new-item__content {
    margin: 18px 22px 21px;
}

.new-item__sub-heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63;
    /* 162.5% */
}

.new-item__sub-desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    /* 171.429% */
}

.new-item__link {
    display: block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
}

.new-item__link:hover {
    color: #2e80ce;
    transition: 0.25s;
}

/* Appointment  */
.appointment__item {
    background: #f6fbff;
    display: block;
    padding: 100px 179px 100px 178px;
    margin-bottom: 170px;
}

.appointment__heading {
    position: relative;
    width: 813px;
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -1px;
}

.appointment__heading::after {
    transform: translateX(-50%);
    left: 50%;
    bottom: -18px;
    position: absolute;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
}

.appointment__desc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    width: 617px;
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    /* 175% */
}

.appointment__btn {
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 41px 15px 42px;
    width: 205px;
    min-height: 60px;
    border-radius: 30px;
}

/* footer */
.footer {
    padding-top: 100px;
    padding-bottom: 42px;
    background: #10375c;
    --font: font-family: 'Open Sans', sans-serif;
}

.footer__item {
    display: grid;
    grid-template-columns: 336px repeat(2, 134px) 1fr;
    gap: 78px;
}

.footer__heading {
    margin-bottom: 20px;
    color: #FFF;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}

.footer__desc {
    color: #a9b3bb;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.footer-intro__desc {
    margin-top: 21px;
    width: 336px;
}

.footer-item--1 {
    white-space: nowrap;
}

.footer__desc--mb {
    margin-bottom: 10px;
}

.footer__desc--b {
    margin-bottom: 28px;
}

.footer__icon--list {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #2e80ce;
    background: #fff;
    transition: 0.25s;
}

.footer-list__icon:hover {
    color: #fff;
    background: #2e80ce;
}

.footer-subscribe__desc {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 311px;
}

.footer-item__input {
    display: flex;
}

.footer__input {
    background: transparent;
    padding: 10px 83px 10px 10px;
    border-radius: 4px;
    border: 1px solid #406181;
    margin-right: 12px;
    color: #fff;
}

.footer__btn {
    color: #FFF;
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    /* 185.714% */
    padding: 10px 21px;
    border-radius: 4px;
}

.footer__license {
    border-top: 1px solid #406181;
    padding-top: 28px;
    text-align: center;
}